code .comment {
    color: #949494;
}

code .number {
    color: #de935f;
}

code .string {
    color: #c2c292;
}

code .char {
    color: #ae81ff;
}

code .boolean {
    color: #f09479;
}

code .constant {
    color: #de935f;
}

code .operator {
    color: #e2637f;
}

code .keyword {
    color: #d183e8;
}

code .keyword.modifier {
    color: #f09479;
}

code .identifier {
    color: #79dac8;
}

code .function {
    color: #74b2ff;
}

code .type {
    color: #36c692;
}
