code .comment {
    color: hsl(211.6, 8.9%, 58.2%);
}

code .number {
    color: hsl(208.2, 100%, 73.7%);
}

code .string {
    color: hsl(207.3, 100%, 82.4%);
}

code .operator {
    color: hsl(3.8, 100%, 72.4%);
}

code .keyword {
    color: hsl(3.8, 100%, 72.4%);
}

code .identifier {
    color: hsl(208.2, 100%, 73.7%);
}

code .function > .identifier {
    color: hsl(269, 100%, 82.9%);
}
